body {
    background-color: #cdd5d6;
    margin: 0px;
}

#navbar {
    display: inline-block;
    float: right;
    border: 2px solid #1e2126;
    width: 1000px;
}

.headerArea {
    min-width: 1300px;
}

.nav {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16pt;
    color: #1e2126;
    padding: 5px 20px 5px 20px;
    border-right: 2px solid #1e2126;
}

#logo {
    vertical-align: top;
    padding: 10px 0px 0px 10px;
}

#searchBox {
    height: 15px;
    vertical-align: middle;
    border-radius: 8px;
}

#search {
    border: none;
}

.coloredStripe {
    margin-top: 15px;
    border-top: 4px solid #314c77;
    margin-bottom: 15px;
}